<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FAKE" version="3.36.0" targetFramework="net45" />
  <package id="NUnit.Runners" version="2.6.4" targetFramework="net45" />
  <package id="PackageA" version="1.0.0" targetFramework="net45" />
  <package id="PackageB" version="1.0.0" targetFramework="net45" />
  <package id="PackageC" version="1.0.0" targetFramework="net45" />
</packages>